ion-title{
    position: absolute;
    right: 0;
    left:0;
    top: 0;
    bottom:0;
    text-align: center;
}

ion-row{
    border-bottom: 1px solid rgb(211, 209, 209);

    ion-avatar{
        height: 45px;
        width: 45px;
    }

    ion-col:nth-child(1){
        display: flex;
        align-items: center;
    }
    ion-col:nth-child(4){
        display: flex;
        align-items: center;
    }

    .dot_icon{ 
        color: #9cfbad;
        filter: drop-shadow(2px 2px 2px grey);
        font-size: 9px; 
    }
    
    .more_icon{
        font-size: 10px;
    }
    
    p{
        font-size: 13px;
        padding-left: 5px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
    }
} 