ion-toolbar{
    --border-style: none;
    ion-title{
        text-align: center;
    }

    ion-icon{
        font-size: 1.5rem;
        padding: 10px;
    }
}

.container{
    max-width: 800px;
    margin:auto;
    ion-label{
        font-size:18px;
        font-weight: bolder !important;
    }

    .main-event{
        p{
            position: relative;
            top: -10px;
        } 
    }
    ion-list{
        padding: 10px;

        .content{
            margin-top: 30px;
            padding: 10px;
            background: rgb(241, 241, 241);
            border: 1px solid #285500;
            border-radius: 20px;

            ion-item{
                --background: transparent;
                --border-style: none;

                .main-event{
                    p{
                        opacity: 0.5;
                    }
                }
            }   
        }
    }

    ion-input{
        background:white;
        border: 1px solid #285500;
        border-radius: 10px;
        width: 90%;
        margin: 0px auto 15px auto;
        font-size: 16px;
    }

}
ion-footer{
    margin-top: 10px;
    border-top: none;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;

    ion-button{
        margin: auto;
        max-width: 300px;
        height: 40px;
    }
}