<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
   <section class="container" id="home">
      <div class="profile-image"></div>
      <p class="hello">- Gaurav Sadvelkar -</p>
      <!-- <h1>I'm <span class="color">Isabella</span></h1> -->
      <p class="description">I'm a <span class="color">Graphic Designer</span> and <span class="color">Front End Developer</span>, visuals and code to create <br> captivating and functional web experiences.
      </p>
      <div class="social">
         <a href="#" target="_blank" id="profile-link">
            <ion-icon name="person-circle-outline"></ion-icon>
         </a>
         <a href="#" target="_blank" id="profile-link">
            <ion-icon name="logo-whatsapp"></ion-icon>
         </a>
         <a href="#" target="_blank" id="profile-link">
            <ion-icon name="location-outline"></ion-icon>
         </a>
         <a href="#" target="_blank" id="profile-link">
            <ion-icon name="mail-outline"></ion-icon>
         </a>
      </div>
   </section>
   <section class="container" id="about">
      <div class="about-box">
         <div class="left">
            <h3>Contact Info</h3>
         </div>
         <div class="right">
            <ion-item>
               <ion-icon name="call-outline"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>+91 983 393 9571</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="logo-whatsapp"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>+91 983 393 9571</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="mail-outline"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>info@bigdreams.in</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="logo-dribbble"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>www.bigdreams.in</ion-label>
            </ion-item>
         </div>
      </div>
   </section>
   <section class="container" id="about">
      <div class="about-box">
         <div class="left">
            <h3>Social Info</h3>
         </div>
         <div class="right">
            <ion-item>
               <ion-icon name="logo-facebook"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>gaurav_sadvelkar_07</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="logo-instagram"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>gaurav_sadvelkar_06</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="logo-linkedin"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>gaurav_sadvelkar_05</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="logo-twitter"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>gaurav_sadvelkar_04</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="logo-youtube"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>gaurav_sadvelkar_09</ion-label>
            </ion-item>
         </div>
      </div>
   </section>
   <section class="container" id="about">
      <div class="about-box">
         <div class="left">
            <h3>Company Info</h3>
         </div>
         <div class="right">
            <ion-item>
               <ion-icon name="business-outline"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>Big Dreams</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="mail-outline"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>bigdreamsofficials@gmail.com</ion-label>
            </ion-item>
            <ion-item>
               <ion-icon name="home-outline"></ion-icon>
               &nbsp;&nbsp;&nbsp;
               <ion-label>Ghatkopar damji shamji conrporate</ion-label>
            </ion-item>
         </div>
      </div>
   </section>
   <section class="container" id="projects">
      <div class="projects-box">
         <a href="#" class="project">
         <img src="https://i.postimg.cc/85NZX3h9/project-1.jpg" alt="Project-thumbnail">
         </a>
         <a href="#" class="project">
         <img src="https://i.postimg.cc/jdLZ1y7x/project-2.jpg" alt="Project-thumbnail">
         </a>
         <a href="#" class="project">
         <img src="https://i.postimg.cc/9XxL1Lzg/project-3.jpg" alt="Project-thumbnail">
         </a>
      </div>
   </section>
</ion-content>