.top{
    display: flex;
    justify-content:space-between;
    align-items:center;

    ion-title{
        text-align: center;
        text-transform: capitalize;
        position:absolute;
        top: 0;
        bottom:0;
        right: 0;
        left: 0;
        // font-size: 13px;
    }
    ion-icon{
        padding-right: 10px;
    }
}

/*.header-md::after {
    background:none;
}*/
ion-buttons{
    width: 0%;
}
ion-title{
    width: 100%;
}
ion-searchbar{
    position: sticky;
    top: 0;
    z-index: 2;
}

.search_icon{
}

.category_style{
    position: relative;
    top: -23px;
    right: 0;
    border-radius: 0 0 7px 7px;
    left: 0;
    background: #469c27;
    color: white;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 100%; */
    text-wrap: nowrap;
    text-align: center;
}
ion-row{
    ion-card{
        background: rgb(248, 248, 248);
        padding: 0;
        box-shadow: 2px 4px 4px 0px rgb(146 145 145);
        border-radius: 10px;
        height: 100%;
        width: 100%;
        ion-card-content{
            color: black;
            padding: 3px;

            .img_eve{
                height: 120px;
                ion-img{
                    width: 100%;
                    background-size: cover;
                    padding: 0;
                    height: 100%;
                }
                ion-img::part(image){
                    border-radius: 10px;
                    object-fit: cover; 
                }
                .heart{
                    font-size: 20px;
                    position: absolute;
                    top: 8px;
                    right: 10px;
                    color: white;
                }
            }
            p{
                font-size: 13px;
            }
            .img_commu{
                height: 120px;
                padding: 2px;
                ion-img{
                    width: 100%;
                    background-size: cover;
                }

                ion-img::part(image){
                    border-radius: 10px;
                    object-fit: cover; 
                    position: relative;
                    top: -20px;
                } 
            }
            .eve_content{
                    padding: 5px;
                    width: 100%;
                    p{
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 140px;
                }
            }
            // ion-button{
            //     max-width: 130px;
            //     position: relative;
            //     left: 0;
            //     right: 0;
            //     // bottom: -16px;
            //     margin: auto;
            // }
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin:0 10px 10px 0;

                h2{
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    // max-width: 140px;
                }
                ion-icon{
                    font-size:20px;
                }

                .ion-icon-checked {
                    background: rgb(167, 167, 167);  
                }
            }

            .venue{
                ion-icon{
                    font-size:1rem
                }

                div{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}