<ion-buttons slot="start">
  <ion-button (click)="closeModal()">
    <ion-icon slot="end" name="close"></ion-icon>        
  </ion-button>
</ion-buttons>

<ion-content class="ion-padding">
  <div class="contianer">
    <ion-img src="assets/images/congratulation.png"></ion-img>

    <div class="text">
      <p class="head-text">Community Created Successfully!</p>
    </div>

    <div class="foot">
      <ion-button expand="block" color="secondary" (click)="closeModal()" shape="round">Close</ion-button>
     </div>

   </div>
</ion-content>