ion-title {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.ion-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
 
ion-card {
    width: 80%;
    margin: auto;
 
    ion-card-header{
        h4{
            margin: 0;
            font-size: 20px;
            font-weight: 900;
            color:black;
        }
    }
 
    ion-label,h5,p{
        color:black;
    }
    ion-label{
        font-size: 16px;
    }
    p{
        font-size: 14px;
        margin-top: 10px;
        word-spacing: 1px;
    }
    h5{
        font-size: 16px;
        font-weight: 600;
    }
 
    .total_cost{
        border-top: 1px solid;
        padding-top:10px;
        ion-col{
            font-weight: 900;
        }
    }
}
 
ion-footer{
    display: flex;
    justify-content: center;
 
    ion-button{
        width: 150px;
    }
}