
ion-fab{
    position: relative;
    right: 11px;
    z-index: 100;

    ion-fab-list{
        position: absolute;
        top: -17px;
        right: -39px;
    }
    .ionfab{
        width: 25px;
        height: 25px;

        ion-icon{
            font-size: 20px;
        }
    }
}