<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Purchased Plan</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <div class="business box">
    <h1 class="title">Events plan</h1>
    <div class="view">
      <div class="icon">
        <img src="https://i.postimg.cc/2jcfMcf4/hot-air-balloon.png" alt="startup">
      </div>

      <div class="cost">
        <p class="amount">₹5000</p>
        <p class="detail">for 10 events per year</p>
      </div>
    </div>

    <div class="description">
      <ul>
        <li>Lorem, ipsum dolor.</li>
        <li>Harum, beatae laudantium.</li>
        <li>Odit, fugit saepe.</li>
        <li>Harum, veniam suscipit!</li>
        <li>A, aut veritatis!</li>
        <li>Aliquid, quasi repellat!</li>
      </ul>
    </div>

    <div class="static_button">
      <ion-button shape="round" fill="outline" color="secondary" expand="block">UPGRADE YOUR PLAN</ion-button>
    </div>

  </div>

  <div class="basic box">
    <h1 class="title">Community plan</h1>
    <div class="view">
      <div class="icon">
        <img src="https://i.postimg.cc/wvFd6FRY/startup.png" alt="startup">
      </div>
      <div class="cost">
        <p class="amount">₹5000</p>
        <p class="detail">for 10 community per year</p>
      </div>
    </div>
    <div class="description">
      <ul>
        <li>Lorem, ipsum dolor.</li>
        <li>Harum, beatae laudantium.</li>
        <li>Odit, fugit saepe.</li>
        <li>Harum, veniam suscipit!</li>
        <li>A, aut veritatis!</li>
        <li>Aliquid, quasi repellat!</li>
      </ul>
    </div>
    <div class="static_button">
      <ion-button shape="round" fill="outline" color="secondary" expand="block">UPGRADE YOUR PLAN</ion-button>
    </div>
  </div>
</ion-content>