.loading {    
    background-color: #ffffff;
    background-image: url("https://media.tenor.com/wpSo-8CrXqUAAAAj/loading-loading-forever.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

ion-toolbar{
    --border-style: none;
    h2{
        text-align: center;
    }

    ion-icon{
        font-size: 1.5rem;
        padding: 10px;
    }
}

.search_container{
    margin-bottom: 5px;
    font-size: 13px;
    background: #dbf9d9;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.mt-21{
    margin-top: 21px;
}

.form-input{
    margin-bottom: 15px;

    ion-input{
        margin-top:10px;
        font-size: 14px;
        border-radius: 5px;
        height: 40px;
        padding:5px !important;
        background: rgb(241, 241, 241);
        border: 1px solid #285500;
    }

    ion-select{
        margin-top:10px;
        font-size: 14px;
        border-radius: 5px;
        padding:5px !important;
        height: 40px;
        background: rgb(241, 241, 241);
        border: 1px solid #285500;
    }
}

ion-label{
    font-size: 14px;
    font-weight: bold;
}

ion-footer{
    display: flex;
    ion-button{
        margin: auto;
        max-width: 300px;
    }
}