.top{
    display: flex;
    ion-title{
        text-align: center;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    ion-icon{
        padding-right: 10px;
    }
}
.privacy{
    word-spacing: 3px;
    line-height: 1.5;
}