<ion-header>
   <ion-toolbar>
      <div class="top">
         <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
         </ion-buttons>
         <ion-title>Terms & Conditions</ion-title>
      </div>
   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding privacy">
   <p>This ‘Terms and Conditions’ document (“T&C”) governs the end users’
      (“You/Your/User”) access to and use of the 'SoEasy Platform' (which term shall
      be deemed to include the internet and mobile website https://soeasyapp.com/ as
      well as its mobile application and any other means to access the same from time
      to time) and the services offered thereunder.
   </p>
   <p>This T&C, along with the ‘Privacy Policy’ (available here) which constitutes an
      integral and inalienable part of the T&C, and any other applicable policies
      published on the SoEasy Platform, comprise a binding agreement between You
      and Genesis SmartNet Solutions. The ‘T&C’, ‘Privacy Policy’ and any such
      applicable policies constitute an electronic record under the Information
      Technology Act, 2000 as amended and the relevant rules made thereunder as
      applicable, and the amended provisions pertaining to electronic records in
      various statutes under applicable Indian laws.
   </p>
   <p>Your use of the SoEasy Platform and the services provided thereunder shall be
      governed by this T&C as well as any other applicable policies published on this
      SoEasy Platform, including but not limited to the Privacy Policy. Your use of the
      SoEasy Platform whether for the purpose of transacting through the SoEasy
      Platform or otherwise, implies Your consent to the provisions of this T&C as well
      as any other applicable policies, including but not limited to Genesis SmartNet
      Solutions’s use of any information provided by You for the purpose of Your use of
      the SoEasy Platform. Genesis SmartNet Solutions hereby reserves the right to
      modify, add or delete any part of this T&C without any prior written notice/ 
      intimation to You. It shall be Your sole responsibility to periodically review this
      T&C and all other applicable policies published on the SoEasy Platform for any
      revisions thereto. If You do not agree to any of the revisions made to this T&C by
      Genesis SmartNet Solutions, You must discontinue further access and use of the
      SoEasy Platform and the services provided thereunder. You agree and
      acknowledge that such discontinuance of access to and use of the SoEasy
      Platform and the services provided thereunder will render the T&C inapplicable
      from such date of discontinuance only; however this T&C will remain applicable
      to all instances of use by You of the SoEasy Platform and the services provided
      thereunder prior to such date of discontinuanc
   </p>
   <p>It is clarified that terms and conditions specific to an event in respect of which
      Genesis SmartNet Solutions has facilitated the sale of tickets through the So
      Easy Platform (“Event”) shall be published on the event page accessible on the
      SoEasy Platform. Genesis SmartNet Solutions Publishes
   </p>
</ion-content>