ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    ion-buttons {
      position: absolute;
      left: 0;
    }
    ion-img.logo {
      height: 40px;
    }
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .otp-image {
    height: 25vh;
    margin: 20px auto;
  }
  
  .otpsec {
    margin-top: 10px;
    ion-grid {
      display: flex;
      justify-content: center;
    }
    ion-row {
      margin: auto;
      padding: 0;
    }
    ion-input.otp {
      border-bottom: 1px solid #285500;
      height: 50px;
      width: 200px;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 5px;
    }
  }
  
  .sub-btn {
    width: 55%;
    margin: 20px auto;
  }
  
  .res-btn {
    color: orange !important;
    margin: 15px 0;
  }
  