$userBackgroundColor: var(--ion-color-primary);
$toUserBackgroundColor: var(--ion-color-secondary);


._1jHIY {
    display: flex;
    flex-direction: column;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;

    .n6BPp {
        padding: 5px;
        text-align: center;
        border-radius: 7.5px;
        text-shadow: 0 1px 0 rgba(var(--inverse-rgb),.4);
        color: white;
        background-color: #838383;
        box-sizing: border-box;
        display: inline-block;
        flex: none;
        max-width: 100%!important;
        font-size: 12.5px;
        line-height: 21px;
    }

}

._2OvAm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 9%;
    padding-left: 9%;
}
ion-content{
    --background: url("/assets/images/chat-bg.jpg");
    background-size: 100% 100%;
    --padding-top: 10px;
    --padding-bottom: 10px;
}
ion-content .scroll-content {
    background-color: #f5f5f5;
}

ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
}

.line-breaker {
    white-space: pre-line;
}

.input-wrap {
    padding: 5px;
    display: flex;

    textarea {
        flex: 1;
        border: 0;
        border-bottom: 1px $userBackgroundColor;
        border-style: solid;
    }
}
.chat-date{
    font-size: 10px;
    color: #7f7f7f;
    float: right;
    margin-top: 10px;
}
.message-wrap {
    padding: 0 10px;

    .message {
        position: relative;
        padding: 7px 0;

        .user-img {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            // box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        }

        .msg-detail {
            width: 100%;
            display: inline-block;

            p {
                margin: 0;
                font-size: 14px;
            }

            .msg-info {
                p {
                    font-size: .8em;
                    color: #888;
                }
            }

            .msg-content {
                position: relative;
                border-radius: 5px;
                padding: 8px;
                border: 1px solid #ddd;
                color: #000;
                width: auto;
                max-width: 80%;

                span.triangle {
                    background-color: #fff;
                    border-radius: 2px;
                    height: 8px;
                    width: 8px;
                    top: 12px;
                    display: block;
                    border-style: solid;
                    border-color: #ddd;
                    border-width: 1px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                }
            }

        }
    }

    .message_by{
        text-transform: uppercase;
        font-weight: 900;
        position: relative;
        top: -4px;
        font-size: 10px !important;
        color: green;
    }

    .message.left {
        .msg-content {
            background-color: #ffffff;
            float: left;
        }

        .msg-detail {
            padding-left: 60px;
        }

        .user-img {
            left: 0;
        }

        .msg-content {
            color: #343434;

            span.triangle {
                border-top-width: 0;
                border-right-width: 0;
                left: -5px;
            }
        }

    }

    .message.right {
        .msg-detail {
            padding-right: 60px;

            .msg-info {
                text-align: right;
            }
        }

        .user-img {
            right: 0;
        }

        ion-spinner {
            position: absolute;
            right: 10px;
            top: 50px;
        }

        .msg-content {
            background-color: #dcf8c6;
            float: right;

            span.triangle {
                background-color: #ffffff;
                border-bottom-width: 0;
                border-left-width: 0;
                right: -5px;
            }
        }

    }

}
.userinitials{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00aa00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.userimg{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.title-top{
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin: auto 0;
}