<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-img src="assets/images/logo.png"></ion-img>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container ion-padding">
    <div class="img_box">
      <ion-img src="../../../assets/images/login.png"></ion-img>
    </div>

    <h3>Welcome!</h3>
    <p>Let's find fun events and communities with your friends and families.</p>

    <form (ngSubmit)="submit()" [formGroup]="ionicForm">
      <div class="login">
        <div class="form-input">
          <ion-icon name="call"></ion-icon>
          <ion-input formControlName="mobile_number" pattern="[0-9]*" maxlength="10" class="ion-padding-start" type="tel" placeholder="Mobile Number"></ion-input>
        </div>
        <ng-container *ngFor="let error of error_messages.mobile_number">
          <div class="error-message" *ngIf="ionicForm?.get('mobile_number')?.hasError(error.type) && (ionicForm?.get('mobile_number')?.dirty || ionicForm?.get('mobile_number')?.touched)">
            {{ error.message }}
          </div>
        </ng-container>
        <ion-button expand="block" shape="round" color="secondary" type="submit">Get OTP</ion-button>
        <ion-label style="display: flex;justify-content: center;">Don't have an account ?
          <h3 style="padding-left: 12px;font-weight: bold;color: #506e50;" (click)="GoToSignUp()">Sign Up</h3>
        </ion-label>
      </div>
    </form>
  </div>
</ion-content>
