<ion-header>
  <ion-toolbar>
    <div class="top">
      <ion-buttons slot="start">
        <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Profile</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
  <form (ngSubmit)="submit()" [formGroup]="ionicForm">
    <div class="top-container">
      <ion-avatar class="ion-align-items-center">
        <ng-container *ngIf="profile_img[0]; else noImage">
          <img [src]="profile_img[0]" alt="Profile Image">
        </ng-container>
        
        <ng-template #noImage>
          <ion-label class="avatar-label">{{ dataservice.user_profile_data?.user_name[0] }}</ion-label>
        </ng-template>
        
        <ion-icon name="pencil" (click)="fileInput.click()" style="font-size: 25px; color: var(--ion-color-primary)"></ion-icon>
        <input type="file" style="display: none" #fileInput (change)="onFileSelected($event)" accept="image/png, image/jpg, image/jpeg">
      </ion-avatar>
      <h2>{{dataservice.user_profile_data?.user_name}}</h2>
      <p>{{dataservice.user_profile_data?.user_unique_name}}</p>
    </div>
    
    <ion-list>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-input type="text" formControlName="user_name" placeholder="User Name"></ion-input>
        <!-- <ion-input type="text" [(ngModel)]="dataservice.user_profile_data.user_name" placeholder="User Name"></ion-input> -->
      </ion-item>

      <ion-item>
        <ion-icon name="card-outline"></ion-icon>
        <ion-input type="text" formControlName="user_unique_name" placeholder="User ID" readonly></ion-input>
      </ion-item> 

      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" formControlName="user_email" placeholder="Email ID"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-input type="number" formControlName="mobile" placeholder="Contact No"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="secondary" shape="round" type="submit" class="update_btn">Save</ion-button>
  </form>
</ion-content>