ion-header{
    ion-icon{
        font-size: 1.6rem;
    }

    ion-title{
        text-align: center;
    }
}

ion-list.ios{
    padding: 3px;
}

.main_container{
    // height: 100%;
    .container{
        padding:0 5px;
        margin-bottom:50px;
        height: 100%;

        .sub_containerr{
            margin: auto;
            font-size: 16px;
            font-weight: bold;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.category_style{
    position: absolute;
    bottom: -2px;
    right: 0;
    border-radius: 0 0 7px 7px;
    left: 0;
    background: #469c27;
    color: white;
    padding: 2px;
}

.segment_one{
    width: 100%;
    margin-bottom: 10px;
    
    ion-segment-button{
        background-color: var(--ion-color-secondary);
        color: white;
        --color-hover:white;
    }

    .segment-button-checked {
        background:#152c01;  
        --color: white;
        --color-checked:white;
        --indicator-color:#152c01;
        font-weight: bold;
    }
}

.seg-sec{
    height: 33px;
    width: 100%;
    margin: auto;

    ion-segment-button{
        background-color: var(--ion-color-secondary);
        position: relative;
        top: -8px;
        --color: #ffffff;
        --color-checked: #ffffff;
        --color-hover: #ffffff;
        margin-right: 10px;
    }
    
    .segment-button-checked {
        background:#152c01;
        --color: #ffffff;
        --color-checked:#ffffff;
        --indicator-color:transparent;
        font-weight: bold;
    }

    ion-segment-button.ios {
        position: relative;
        top:0;
        --color: #08a391;
        --color-checked: #fff;
        --border-radius: 20px;
        --background-checked:#152c01;
        --indicator-color:#152c01;
    }
}

h2{
    color: black;
}

ion-row{
    ion-card{
        background: rgb(248, 248, 248);
        padding: 0;
        box-shadow: 2px 4px 4px 0px rgb(146 145 145);
        border-radius: 10px;
        height: 100%;
        width: 100%;

        ion-card-content{
            color: black;
            padding: 3px;

            .img_eve{
                height: 120px;
                position: relative;

                ion-img{
                    width: 100%;
                    background-size: cover;
                    padding: 0;
                    height: 100%;
                }

                ion-img::part(image){
                    border-radius: 10px;
                    object-fit: cover; 
                }

                .heart,ion-icon{
                    font-size: 20px;
                    position: absolute;
                    top: 8px;
                    right: 10px;
                    color: rgb(27, 8, 8);
                }
            }

            p{
                font-size: 13px;
            }

            .eve_content{
                padding: 5px;
                width: 100%;
        
                p{
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 140px;
                }
            }

            ion-button{
                max-width: 130px;
                position: relative;
                left: 0;
                right: 0;
                margin: auto;
            }

            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin:0 10px 10px 0;

                h2{
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-transform: capitalize;
                }
                ion-icon{
                    font-size:20px;
                }

                .ion-icon-checked {
                    background: rgb(167, 167, 167);  
                }
            }

            .venue{
                ion-icon{
                    font-size:1rem
                }

                div{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}