<ion-header>
  <ion-toolbar>
    <div class="top">
      <ng-container *ngIf="is_modal_open">
        <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
      </ng-container>
      <ion-title>Members</ion-title>
      <ion-icon name="search-outline" class="search_icon" (click)="toggleSearchBar()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
		<ion-refresher-content
      pullingIcon="arrow-down"
    	pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
	</ion-refresher>

  <ion-searchbar #searchBar placeholder="Search Member" [(ngModel)]="searchQuery" (ionCancel)="toggleSearchBar()" [hidden]="!showSearchBar" (ionChange)="filterItems($event)"></ion-searchbar>
  <div class="container">

    <h2>All Members</h2>
    <ng-container *ngFor="let ui of filterData; let i = index;" >

      <ng-container *ngIf="type == 1">
        <ion-item>
          
          <ng-container *ngIf="community_data.is_admin">
            <ion-label id="click-trigger{{i}}">{{ui.user_name}}</ion-label>
            <ng-container *ngIf = "ui.is_admin == 1 && !same_user_created_community">
              <ion-label slot="end"> Admin</ion-label>
            </ng-container>
          </ng-container>
          
          <ng-container *ngIf="!community_data.is_admin">
            <ion-label>{{ui.user_name}}</ion-label>
            <ng-container *ngIf = "ui.is_admin == 1 && !same_user_created_community">
              <ion-label slot="end"> Admin</ion-label>
            </ng-container>
          </ng-container>


          <ion-popover trigger="click-trigger{{i}}" triggerAction="click" side="bottom" alignment="end" size="cover">
            <ng-template>
              <ion-content>
                <ng-container *ngIf = "community_data.is_admin && ui.is_admin == 1 && !same_user_created_community">
                  <ion-button class="click-button" fill="clear" (click) = "remove_admin(ui); dismissPopover()">Remove Admin</ion-button>
                </ng-container>
                <ng-container *ngIf = "community_data.is_admin">
                  <ng-container *ngIf = "ui.is_admin == 0">
                  <ion-button class="click-button" fill="clear" (click) = "make_admin(ui); dismissPopover()">Make Admin</ion-button>
                  </ng-container>
                </ng-container>
              </ion-content>
            </ng-template>
          </ion-popover>

        </ion-item>
      </ng-container>

      <ng-container *ngIf="type == 2">
        <ion-item *ngIf="ui.request == 0">
          <ion-label>{{ui.user_name}}</ion-label>
          <ng-container *ngIf = "ui.is_admin == 1">
            <ion-label slot="end"> Admin</ion-label>
          </ng-container>
        </ion-item>
      </ng-container>

    </ng-container>
  </div>
</ion-content>
