<ion-header>
  <ion-toolbar>
    <div class="top">
      <ng-container *ngIf="is_modal_open">
        <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
      </ng-container>
      <ion-title>Members</ion-title>
      <ion-icon name="search-outline" class="search_icon" (click)="toggleSearchBar()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar #searchBar placeholder="Search Member" [(ngModel)]="searchQuery" (ionCancel)="toggleSearchBar()" [hidden]="!showSearchBar" (ionChange)="filterItems($event)"></ion-searchbar>
  <div class="container">

    <h2>All Members</h2>
    <ng-container *ngFor="let ui of filterData; let i = index;">

      <ng-container *ngIf="type == 1">
        <ion-item>
          <ion-label>{{ui.user_name}}</ion-label>
          <ng-container *ngIf="ui.is_admin == 1">
            <ion-label slot="end">Admin</ion-label>
          </ng-container>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="type == 2">
        <ion-item *ngIf="ui.request == 0">
          <ion-label>{{ui.user_name}}</ion-label>
          <ng-container *ngIf="ui.is_admin == 1">
            <ion-label slot="end">Admin</ion-label>
          </ng-container>
        </ion-item>
      </ng-container>

    </ng-container>
  </div>
</ion-content>
