ion-title{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.back_icon{
    position: relative;
    z-index: 1;
}

ion-row{
    border-bottom: 1px solid #c3c3c3;
    margin: 0 10px;
}