<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="is_modal_open">
      <ion-icon  class="back_icon" slot="start" name="arrow-back-outline" (click)="closeModal()"></ion-icon>
      <ion-title>Ticket</ion-title>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content
       pullingIcon="arrow-down"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher> -->
  <ng-container *ngFor="let ui of payments let i = index">
    <ion-row>
      <ion-col>
        <h2 class="ion-text-capitalize"> {{ui.user_name}}</h2>
      </ion-col>
      <ion-col>
        <h2 class="ion-text-right"> ₹ {{ui.amount}}</h2>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>