<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
   </ion-buttons>
    <ion-title>My Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
		<ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
	</ion-refresher>

  <div class="container">
    <ion-list>
      <ion-segment class="seg-sec" [(ngModel)]="segment_one" (ionChange)="segmentChanged()" [scrollable]="true">   
        <ion-segment-button value="0">
          Upcoming <ng-container *ngIf="upcomingEvent && upcomingEvent.length != 0">({{upcomingEvent.length}})</ng-container>
        </ion-segment-button>
        <ion-segment-button value="1">
          Completed <ng-container *ngIf="completeEvent && completeEvent.length != 0">({{completeEvent.length}})</ng-container>
        </ion-segment-button>
        <ion-segment-button value="2">
          Cancelled <ng-container *ngIf="cancelEvent && cancelEvent.length != 0">({{cancelEvent.length}})</ng-container>
        </ion-segment-button>
        <ion-segment-button value="3">
          Draft <ng-container *ngIf="draftEvent && draftEvent.length != 0">({{draftEvent.length}})</ng-container>
        </ion-segment-button>
      </ion-segment>

      <ion-slides #slider (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <div>
            <ng-container class="cateLbl" *ngIf="!upcomingEvent || upcomingEvent.length === 0">
              <div class="sub_container">
                <div class="no_events">No Events</div>
              </div>
            </ng-container>
            <ng-container *ngFor="let ui of upcomingEvent let i = index;" >
              <ion-card>
                <ion-card-content>
                  <ion-row>
                    <ion-col class="eventcol">
                      <ion-img [src]="ui.event_images"></ion-img>
                      <p class="category_style">
                        {{ui.event_category}}
                      </p>
                    </ion-col>
                    <ion-col>
                      <div class="head">
                        <h2>{{ui.title}}</h2>
                        <ion-button *ngIf="isEventDateValid(ui.event_dates[0].event_date)" size="small" fill="clear" (click)="edit_details(ui,'event')"><ion-icon name="create-outline"></ion-icon></ion-button>    
                      </div>
                      <div>
                        <ion-list><ion-icon name="calendar-outline"></ion-icon><p>{{ getFormattedDate(ui.event_dates[0].event_date) }}</p></ion-list> 
                        <ion-list><ion-icon name="time-outline"></ion-icon><p>{{ formatTime(ui.event_dates[0].start_time) }}-{{ formatTime(ui.event_dates[0].end_time) }}</p></ion-list> 
                        <ion-list><ion-icon name="location-outline"></ion-icon><p>{{ getCityFromEvent(ui.event_venues) }}</p></ion-list>
                        <ion-list><ion-icon name="card-outline"></ion-icon><p>₹ {{ui.price}}</p></ion-list>
                      </div>
                      <div class="btnn">
                        <ion-button color="primary" size="small" shape="round" fill="outline" (click)="view_detailss(ui)">View</ion-button>    
                        <ion-button color="primary" size="small" shape="round" (click)="add_staff(ui)">Add Admin</ion-button>    
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ng-container>  
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <ng-container class="cateLbl" *ngIf="!completeEvent || completeEvent.length === 0">
              <div class="sub_container">
                <div class="no_events">No Events</div>
              </div>
            </ng-container>
            <ng-container *ngFor="let ui of completeEvent let i = index;" >
              <ion-card (click)="view_detailss(ui)">
                <ion-card-content>
                  <ion-row>
                    <ion-col class="eventcol">
                      <ion-img [src]="ui.event_images"></ion-img>
                      <p class="category_style">
                        {{ui.event_category}}
                      </p>
                    </ion-col>
                    <ion-col>
                      <div class="head">
                        <h2>{{ui.title}}</h2>
                      </div>
                      <div>  
                        <ion-list><ion-icon name="calendar-outline"></ion-icon><p>{{ getFormattedDate(ui.event_dates[0].event_date) }}</p></ion-list> 
                          <ion-list><ion-icon name="time-outline"></ion-icon><p>{{ formatTime(ui.event_dates[0].start_time) }}-{{ formatTime(ui.event_dates[0].end_time) }}</p></ion-list> 
                          <ion-list><ion-icon name="location-outline"></ion-icon><p>{{ getCityFromEvent(ui.event_venues) }}</p></ion-list>
                          <ion-list><ion-icon name="card-outline"></ion-icon><p>₹ {{ui.price}}</p></ion-list>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ng-container>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <ng-container class="cateLbl" *ngIf="!cancelEvent || cancelEvent.length === 0">
              <div class="sub_container">
                <div class="no_events">No Events</div>
              </div>
            </ng-container>
            <ng-container  *ngFor="let ui of cancelEvent let i = index;" >
              <!-- (click)="view_detailss(ui)" -->
              <ion-card>
                <ion-card-content>
                  <ion-button shape="round" size="small" color="danger" style="position: absolute;top: 3px;left: 5px;font-size: 9px; z-index: 1;">
                    <ion-icon slot="start" name="close-circle-outline"></ion-icon>
                        Cancelled
                  </ion-button>
                  <ion-row [ngStyle]="{'opacity': '0.5'}">
                    <ion-col >
                      <ion-img [src]="ui.event_images"></ion-img>
                      <p class="category_style">
                        {{ui.event_category}}
                      </p>
                    </ion-col>
                    <ion-col>
                      <div class="head">
                        <h2>{{ui.title}}</h2>
                      </div>
                      <div>
                        <!-- <ng-container  *ngFor="let di of ui.event_dates let i = index;" >
                          <ion-list><ion-icon name="calendar-outline"></ion-icon><p>{{di.event_date}}</p></ion-list>
                          <ion-list><ion-icon name="time-outline"></ion-icon><p>{{di.start_time}} - {{di.end_time}}</p></ion-list>
                        </ng-container>  -->   
                          <ion-list><ion-icon name="calendar-outline"></ion-icon><p>{{ getFormattedDate(ui.event_dates[0].event_date) }}</p></ion-list> 
                          <ion-list><ion-icon name="time-outline"></ion-icon><p>{{ formatTime(ui.event_dates[0].start_time) }}-{{ formatTime(ui.event_dates[0].end_time) }}</p></ion-list> 
                          <ion-list><ion-icon name="location-outline"></ion-icon><p>{{ getCityFromEvent(ui.event_venues) }}</p></ion-list>
                          <ion-list><ion-icon name="card-outline"></ion-icon><p>₹ {{ui.price}}</p></ion-list>
                        </div>
                    </ion-col>
                  </ion-row>
                  <!-- <div class="cancle">
                    cancelled
                  </div> -->
                </ion-card-content>
              </ion-card>
            </ng-container>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <ng-container class="cateLbl" *ngIf="!draftEvent || draftEvent.length === 0">
              <div class="sub_container">
                <div class="no_events">No Events</div>
              </div>
            </ng-container>
            <ng-container  *ngFor="let ui of draftEvent let i = index;" >
              <ion-card (click)="edit_details(ui, 'draft_event')">
                <ion-card-content>
                  <ion-row>
                    <ion-col >
                      <ion-img [src]="ui.event_images"></ion-img>
                      <p class="category_style">
                        {{ui.event_category}}
                      </p>
                    </ion-col>
                    <ion-col>
                      <div class="head">
                        <h2>{{ui.title}}</h2>
                        <ion-button size="small" fill="clear"><ion-icon name="create-outline"></ion-icon></ion-button>    
                      </div>
                      <div>  
                          <ion-list><ion-icon name="calendar-outline"></ion-icon><p>{{ getFormattedDate(ui.event_dates[0].event_date) }}</p></ion-list> 
                          <ion-list><ion-icon name="time-outline"></ion-icon><p>{{ formatTime(ui.event_dates[0].start_time) }}-{{ formatTime(ui.event_dates[0].end_time) }}</p></ion-list> 
                          <ion-list><ion-icon name="location-outline"></ion-icon><p>{{ getCityFromEvent(ui.event_venues) }}</p></ion-list>
                          <ion-list><ion-icon name="card-outline"></ion-icon><p>₹ {{ui.price}}</p></ion-list>
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ng-container>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </div>
</ion-content>