ion-header{
    ion-icon{
        font-size: 1.6rem;
    }
    ion-buttons{
        width: 0%;
    }
    ion-title{
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

ion-content{
    --background: linear-gradient(to bottom, #ffffff, #e2fbcc);
}

ion-list{
    background: transparent;
}

.main_container{
    .container{
        padding: 10px;
        margin-bottom:50px;
        height: 100%;
    
        .ion_list{
            height: 100%;
        }
        .segments{
            height: 100%;
        
            .sub_segments{
                height: 100%;
                width: 100%;
            }
        }
    }
}

.sub_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 16px;
    font-weight: bold;
}

.segment_one{
    margin-bottom: 10px;
    ion-segment-button{
        background-color: var(--ion-color-secondary);
        color: white;
        --color-hover:white;
    }
 
    .segment-button-checked {
        background:#152c01;  
        --color: white;
        --color-checked:white;
        --indicator-color:#152c01;
        font-weight: bold;
    }
 
    ion-segment-button.ios{
        background-color: var(--ion-color-secondary);
        --color: white;
        --color-hover:white;
    }
}
.seg-sec.ios{
    // width: 50rem;
    // overflow: auto;
    segment-button-checked.ios {
        --color-checked: #fff;
        font-weight: bolder;
    }
    ion-label.ios{
        max-width: 90%;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
    }
}

.category_style{
    position: absolute;
    bottom: 3px;
    right: 5px;
    border-radius: 0 0 7px 7px;
    left: 5px;
    background: #469c27;
    color: white;
    padding: 2px;
}

.tab-container{
    overflow: auto;
}
.seg-ios.ios{
    width: 30rem!important;
}
.seg-ioss.ios{
    width: 26rem!important;
}

.seg-last.md{
    width: 35rem !important;
}

.seg-sec.ios{
    width: 55rem;
}

.seg-sec{
    height: 33px;
    // width: 55rem;
    ion-segment.ios{
        width: 50rem;
    }
    ion-segment-button{
        background-color: var(--ion-color-secondary);
        position: relative;
        top: -8px;
        --color: #ffffff;
        --color-checked: #ffffff;
        --color-hover: #ffffff;
        margin-right: 10px;
    }
    .segment-button-checked {
        background:#152c01;
        --color: #ffffff;
        --color-checked:#ffffff;
        --indicator-color:transparent;
        font-weight: bold;
    }
 
    ion-segment-button.ios {
        position: relative;
        top:0;
        --color: #fcfcfc;
        --color-checked: #fff;
        --border-radius: 20px;
        --background-checked:#152c01;
        --indicator-color:#152c01;
    }
    ion-label.ios{
        white-space: nowrap;
    }
}
has context menu

h2{
    color: black;
}

ion-card{
    background: rgb(248, 248, 248);
    margin: 15px 4px;
    padding: 0;
    box-shadow: 2px 4px 4px 0px rgb(146 145 145);
    border-radius: 10px;
    margin:15px 5px;

    ion-card-content{
        margin: 0;
        padding: 0;

        ion-row{

            ion-col:nth-child(1){
                cursor: pointer;
                height: 160px;

                ion-img{
                    height: 100%;
                }
                
            }

            ion-img::part(image){
                border-radius: 10px;
                object-fit: cover;
            }
        
        } 

        .head{
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin-bottom: 10px;
            color: black;

            h2{
                --color: black;
                font-size: 13px;
                text-transform: capitalize;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 30vw;

            }

            ion-icon{
                font-size: 20px;
            }
        }
        ion-icon{
            font-size: 16px;
        }

        .btnn{
            display: flex;
            bottom: 0;
            position: fixed;
            right: 2px;

            ion-button{
                font-size: 11px;
            }
        }

        .bookbtn{
            display: flex;
            position: absolute;
            bottom: 2px;
        }

        .chatbox{
            position: absolute;
            bottom: 13px;
            right: 20px;

            ion-icon{
                font-size: 25px;
            }
        }

        ion-list{
            background: transparent;
            padding: 0;
            margin: 5px 0;
            display: flex;
            align-items: center;
    
            ion-icon{
                color: black;
                margin-right: 5px;
            }

            p{
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 140px;
                padding: 0;
            }
        }
    }
    .opacity{
        opacity: 0.5;
    }
    .cancle{
        background: #459c23;
        bottom: 260px;
        color: #fff;
        height: 40px;
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        text-align: center;
        padding: 10px;
    }

    .foot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;

        ion-icon{
            font-size: 20px;
        }
    }

    .foott{

        ion-icon{
            padding-right: 20px;
            font-size: 20px;
        }
    }

    .btn{
        float: right;
    }
}