<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Multi Event</ion-title>
    <ion-icon slot="end" name="close" routerLink="/tabs/dashboard"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submit()" [formGroup]="ionicForm">
    <ion-list>
      <div style="margin-top: 10px;">
        <div class="container">
          <p class="images">
            <ng-template ngFor let-imageUrl [ngForOf]="imageUrls">
              <img [src]="imageUrl" class="image" style="border-radius: 10px;"/>
              <ion-icon name="add-circle" slot="end" (click)="fileInput.click()" style="font-size: 45px;color:seagreen;position: absolute; right: 0;"></ion-icon>
              <input type="file" style="display:none" #fileInput (change)="loadImageFromDevice($event,'event')" id="file-input" accept="image/png, image/jpg, image/jpeg">
            </ng-template>
          </p>

          <ng-container *ngIf="!imageUrls.length">
            <ion-row>
              <div class="down_icon" (click)="fileInput.click()">
                <ion-icon name="download-outline"></ion-icon>
              </div>
              <input type="file" style="display:none" #fileInput (change)="loadImageFromDevice($event,'event')" id="file-input" accept="image/png, image/jpeg" class="custom-file-input">
              <h5 align="center">Upload Event Image <span class="asct">*</span></h5>
            </ion-row>
          </ng-container>

          <ng-container *ngIf="!imageUrls.length && isSubmitted">
            <div class="error-message">
              Please upload an image.
            </div>
          </ng-container>
          
          <div class="form-input">
            <h4>Title <span class="asct">*</span></h4>
            <ion-input formControlName="title" placeholder="Enter Title" appCapitalizeFirst></ion-input>
          </div>

          <ng-container *ngFor="let error of error_messages.title">
            <div class="error-message" *ngIf="ionicForm.get('title').hasError(error.type) && (ionicForm.get('title').dirty || ionicForm.get('title').touched)">
              {{ error.message }}
            </div>
          </ng-container>

          <div class="form-input">
            <h4>Description</h4>
            <ion-textarea formControlName="description" placeholder="Write Description" autoGrow="true" appCapitalizeFirst></ion-textarea>
          </div>
 
          <div class="form-input">
            <h4>Start Date</h4>
            <ion-input type="date" formControlName="start_date" min="{{ currentDate }}"></ion-input>
          </div>
 
          <div class="form-input">
            <h4>End Date</h4>
            <ion-input type="date" formControlName="end_date" min="{{ currentDate }}"></ion-input>
          </div>

        </div>
      </div>
    </ion-list>
    <ion-footer class="ion-no-border">
      <ion-button expand="block" type="submit" shape="round" color="secondary">Submit</ion-button>
    </ion-footer>
  </form>
</ion-content>
